@charset "utf-8";

@font-face {
    font-family: 'DungGeunMo';
    src: url(../font/DungGeunMo.woff2) format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf) format('woff');
    font-weight: 300;
    font-style: normal;
}