@charset "utf-8";

:root {
    --head-color: #666;
    --kr-font: 'Pretendard';
}

body {
    background: #fff;
    line-height: 1.6;
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.2px;
    color: #1E1E1E;
}

p {
    letter-spacing: -0.3px;
    font-family: var(--kr-font);
}

.inner {
    padding: 0px 100px;
}

.he-tit {
    color: #666;
    margin-bottom: 20px;
}

/* header */
#header {
    padding: 20px 0 20px 0;
}

#header .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .gnb a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    line-height: 18px;
    font-size: 1.8rem;
}

#header .gnb a span:last-child {
    transform: translateY(3px);
}

#header .gnb li:first-child img {
    transform: translateY(3px);
}

#header .gnb a img {
    display: block;
    width: 18px;
    height: 18px;
}


/* overview */
#overview .thum-img img {
    display: block;
    width: 100%;
    height: 1000px;
}

.project-info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.pi-left .pi-overline {
    color: var(--head-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.pi-left .pi-tit {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px 0 20px 0;
}

.pi-left .pi-desc {
    letter-spacing: -0.5px;
    font-family: var(--kr-font);
}

.pi-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
    margin: 0
}

.pi-meta .item dt {
    color: var(--head-color);
    font-weight: 600;
}

.pi-meta .item dd {
    white-space: nowrap;
    padding-top: 10px;
}

.item dd a {
    position: relative;
    display: inline-block;
    /* 밑줄 길이를 텍스트 폭에 맞춤 */
    text-decoration: none;
    color: #111;
    padding-bottom: 4px;
    /* 밑줄 자리 */
}

.item dd a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: currentColor;
    transition: width .5s cubic-bezier(.22, 1, .36, 1);
}

.item dd a:hover::after,
.item dd a:focus-visible::after {
    width: 100%;
}


/* role */
.role {
    margin: 200px 0;
}

.role-item {
    position: relative;
    padding-left: 20px;
    margin-top: 50px;
}

.role-item::before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0px;
}

.role-head {
    margin: 0 0 10px;
    font-size: 1.8rem;
    font-weight: 400;
}

/* 각주 */
.role-footnote {
    margin: 20px 20px 0;
    font-size: 1.4rem;
    color: var(--head-color);
    font-style: italic;
}


/* solution */
.he-sub {
    color: #666;
    font-family: var(--kr-font);
}

.solu-wrap {
    font-family: var(--kr-font);
    margin-top: 150px;
    --gap: 40px;
    /* 좌/우 간격 */
    --line: 500px;
    /* 가이드 라인 길이 */
    display: grid;
    grid-template-columns: 1fr 380px;
    gap: var(--gap);
    align-items: start;
    position: relative;
}

.solu-screen img {
    display: block;
}

/* 오른쪽 해설 */
.solu-note .note {
    padding: 0px;
    --mb: 50px;
    --line: 500px;
    position: relative;
    margin: 30px 0 var(--mb);
}

.solu-note .note h4 {
    margin: 0 0 5px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #9c9c9c;
}

.solu-note .note p {
    font-size: 1.6rem;
    color: #1e1e1e;
}

/* 기본 가이드라인(길이 500px, 갭 40px 가정) */
.solu-note .note::before {
    content: "";
    position: absolute;
    top: 1.1em;
    right: calc(100% + 40px);
    width: var(--line);
    height: 1px;
    background: #c4c4c4;
}

.solu-note .note::after {
    content: "";
    position: absolute;
    top: 1.12em;
    transform: translateY(-50%);
    right: calc(100% + 40px + var(--line));
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c4c4c4;
}


/* ---- 각 note별 임의 값 예시 ---- */
.solu-note .note:nth-child(1) {
    --line: 250px;
    --mb: 80px;
}

.solu-note .note:nth-child(2) {
    --line: 350px;
    --mb: 150px;
}

.solu-note .note:nth-child(3) {
    --line: 250px;
    --mb: 50px;
}

.solu-note .note:nth-child(4) {
    --line: 250px;
    --mb: 30px;
}


/* AS IS - TO BE */
.solution-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 300px;

}

.solution-head h4 {
    position: relative;
    color: var(--head-color);
}

/* AS IS 라인 */
.label--as::after {
    content: '';
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: var(--head-color);
    width: 760px;
}

/* To Be 라인 */
.label--to::after {
    content: '';
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: var(--head-color);
    width: 780px;
}

.solution-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 50px;
}

.solution .col {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 50px;
    row-gap: 100px;
    align-items: start;
}

.solution .solution-cols>.col:first-child .list {
    padding-left: 20px;
}

.solution .solution-cols>.col:last-child .part {
    padding: 0 40px;
}

.part {
    white-space: nowrap;
    font-size: 1.6rem;
    padding: 0 65px;
    color: var(--head-color);
}

.list li {
    padding-top: 15px;
    font-family: var(--kr-font);
    letter-spacing: -0.5px;
}

.list li:first-child {
    padding: 0;
}


/* design-concept */
.design-concept {
    margin-top: 300px;
    position: relative;
    overflow: hidden;
    padding-bottom: 250px;
}

.he-tit {
    padding-top: 100px;
}

.dc-bg {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
    z-index: 0;
    width: 3840px;
    height: 1700px;
    object-fit: cover;
    filter: grayscale(100%);
}

.design-concept .inner {
    position: relative;
    z-index: 1;
}

.dc-copy {
    margin: 200px auto 0px;
    max-width: 900px;
    text-align: center;
    font-family: var(--kr-font);
    letter-spacing: -1px;
}

.dc-lead {
    color: #8b8b8b;
    font-size: 3rem;
    font-weight: 500;
    opacity: .6;
}

.dc-title {
    margin-top: -5px;
    font-weight: 600;
    font-size: 4rem;
    color: var(--head-color);
}

.dc-desc {
    margin-top: -5px;
    opacity: .6;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 3rem;
}

/* 벤 다이어그램 */
.dc-venn {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dc-circle {
    width: 500px;
    height: 500px;
    border: 1px solid #aeaeae;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dc-circle+.dc-circle {
    margin-left: -80px;
}

/* 겹치기 정도 */
.dc-circle strong {
    margin-bottom: 6px;
    font-weight: 600;
    color: var(--head-color);
    font-size: 3rem;
}

.dc-circle span {
    color: var(--head-color);
    letter-spacing: -0.5px;
    font-size: 1.8rem var(--kr-font);
    opacity: .6;
}


/* logo */
.logo .inner {
    margin: 50px 0 150px;
    position: relative;
    min-height: 520px;
}

.logo-desc {
    font-family: var(--kr-font);
    letter-spacing: -0.5px;
    padding-bottom: 600px;
}

.logo-showcase {
    position: absolute;
    right: 80px;
    bottom: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 120px;
}

.logo-card {
    text-align: left;
}

.logo-cap {
    margin: 0 0 30px;
    font-size: 1.6rem;
    color: #9c9c9c;
}

.logo-card img {
    display: block;
    width: 100%;
}


/* design-system */
#design-system {
    background: #2B3140;
    padding-bottom: 1300px;
}

#design-system .he-tit {
    color: #E5E5E5;
    padding-top: 150px;
}

.system-desc {
    font-family: var(--kr-font);
    color: #fff;
}

/* color */
.color-strip {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 25px;
}

.color-strip li {
    width: 344px;
}

.color-strip .c-0e151d {
    background: #0E151D;
}

.color-strip .c-d20000 {
    background: #D20000;
}

.color-strip .c-fd5a5a {
    background: #FD5A5A;
}

.color-strip .c-f1f1f1 {
    background: #F1F1F1;
}

.color-strip .c-ffffff {
    background: #FFFFFF;
}

.color-meta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #9a9a9a;
}

.color-meta li {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}


/* typo */
.typo {
    margin-top: 300px;
}

.typo-col {
    display: flex;
    justify-content: flex-end;
}

/* 라벨 */
.typo-label {
    display: block;
    font-size: 1.2rem;
    color: #9a9a9a;
    padding: 15px 70px 0 0;
}

.typo-word {
    margin: 0 0 24px;
    color: #fff;
    line-height: 1;
}

.kr {
    font-size: 13rem;
    font-family: var(--kr-font);
}

.en {
    font-size: 14rem;
    font-family: 'roboto';
    margin-top: 50px;
}

.typo-col.en .typo-word {
    padding-right: 114px;
}

/* 폰트굵기 */
.weights {
    text-align: right;
    color: #fff;
    font-size: 1.2rem;
    padding: 55px 50px 0;
}

.typo-col.kr .weights li:nth-child(1) {
    font-family: var(--kr-font);
    font-weight: 700;
}

.typo-col.kr .weights li:nth-child(2) {
    font-family: var(--kr-font);
    font-weight: 500;
}


.typo-col.en .weights li:nth-child(1) {
    font-family: 'roboto';
    font-weight: 600;
}

.typo-col.en .weights li:nth-child(2) {
    font-family: 'roboto';
    font-weight: 500;
}

.typo-col.en .weights li:nth-child(3) {
    font-family: 'roboto';
    font-weight: 400;
}


/* design-guideline */
.design-guideline {
    margin-top: 300px;
}

.design-guideline .guide-desc {
    color: #fff;
    font-family: var(--kr-font);
}

.desktop {
    position: relative;
    width: 1430px;
    margin: 300px auto 200px;
    padding-top: 60px;
}

.meta {
    text-align: right;
    position: absolute;
    right: 0;
    top: -5%;
}

.meta dt {
    color: #fff;
    font-weight: 600;
}

.meta dd {
    font-size: 1.4rem;
    color: #9a9a9a;
}

.desktop_img {
    position: relative;
    width: 1430px;
    margin: 0 auto;
}

.desktop_img img {
    width: 100%;
    display: block;
}

/* contents animation */
.desktop_img::before,
.desktop_img::after {
    content: "";
    position: absolute;
    top: 0px;
    height: 0;
    width: 0;
    border-left: 1px solid rgb(255, 255, 255);
}

.desktop_img.active::before,
.desktop_img.active::after {
    animation: lineDrop 1.5s ease forwards;
}

.desktop_img::before {
    left: 155px;
}

.desktop_img::after {
    right: 155px;
}

@keyframes lineDrop {
    from {
        height: 0;
    }

    to {
        height: 105%;
    }
}

.desktop_img .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, 0.05);
    transform: translate(-50%, -50%);
}

.desktop_img.active .contents {
    animation: boxGrow 1.5s ease forwards;
}

@keyframes boxGrow {
    from {
        width: 400px;
        height: 300px;
    }

    to {
        width: 1118px;
        height: 878px;
    }
}

.desktop_img .area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    height: 0;
    color: #fff;
}

.desktop_img .area dt {
    position: absolute;
    left: 180px;
    bottom: 20px;
}

.desktop_img .area dd {
    position: absolute;
    right: 180px;
    bottom: 20px;
}

/* mobile guideline */
.mobile {
    position: relative;
    transform: translateY(30%);
}

.mobile .mobile_img {
    position: relative;
    width: 430px;
    height: 850px;
    margin: 0 auto;
    /* ← 센터 정렬 */
}

.mobile .mobile_img img {
    width: 100%;
    height: 100%;
    display: block;
}

.mobile .meta {
    text-align: left;
    position: absolute;
    right: 56.5%;
    top: -13%;
    color: var(--head-color);
}

.mobile_img::before,
.mobile_img::after {
    content: "";
    position: absolute;
    top: 0px;
    height: 0;
    width: 0;
    border-left: 1px solid rgb(255, 255, 255);
}

.mobile_img.active::before,
.mobile_img.active::after {
    animation: mLineDrop 1.5s ease forwards;
}

@keyframes mLineDrop {
    from {
        height: 0;
    }

    to {
        height: 105%;
    }
}

.mobile_img::before {
    left: 29px;
}

.mobile_img::after {
    right: 28px;
}

.mobile_img .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.05);
    transform: translate(-50%, -50%);
}

.mobile_img.active .contents {
    animation: MboxGrow 1.5s ease forwards;
}


@keyframes MboxGrow {
    from {
        width: 200px;
        height: 200px;
    }

    to {
        width: 378px;
        height: 850px;
    }
}

.mobile_img .area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    height: 0;
    color: #fff;
}

.mobile_img .area dt {
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.mobile_img .area dd {
    position: absolute;
    right: 40px;
    bottom: 20px;
}


/* final-shot */
.final-main {
    margin-bottom: 200px;
}

#final-shot .final-info .final-tit {
    font-size: 5rem;
    color: #1e1e1e;
    position: relative;
    margin-bottom: 10px;
}

#final-shot .final-main .final-tit::before {
    content: '(1)';
    position: absolute;
    top: 15%;
    left: 31%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.sub-info dt {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.sub-info dd {
    font-family: var(--kr-font);
    letter-spacing: -0.5px;
}

#final-shot .final-info .final-desc {
    font-family: var(--kr-font);
    letter-spacing: -0.5px;
}

#final-shot {
    position: relative;
    background: #fff;
}

#final-shot .final-main_vedio video {
    position: absolute;
    top: -350px;
    left: 12.8%;
    width: 1430px;
    height: auto;
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}

.final-main {
    padding: 700px 0 0;
}

.main-wrap-mc {
    display: flex;
}

.final-info {
    padding-left: 150px;
    align-items: flex-start;
    gap: 100px;
}

.final-shot_mobile_mc {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-left: 200px;
}

.final-shot_mobile_mc li:first-child {
    margin-right: -100px;
}

.final-shot_mobile_kp {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding-left: 90px;
    margin-top: 100px;
}

.final-shot_mobile_kp li:first-child {
    margin-right: -100px;
}

.final-shot_mobile_kp .sub-info {
    padding: 200px 0 0 50px;
}

.final-shot_mobile_rcr {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 60px;
}

.final-shot_mobile_rcr li:first-child {
    margin-right: -70px;
}

.final-shot_mobile_rcr li:nth-child(2) {
    margin-right: -70px;
}


/* about */
.final-about {
    background: #F5F5F5;
    position: relative;
    padding: 200px 0;
}

.mobile-shot img {
    display: block;
    width: 500px;
    height: auto;
}

#final-shot .final-about .final-tit::before {
    content: '(2)';
    position: absolute;
    top: 18%;
    left: 9.5%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.final-about .about_ceo {
    margin-top: 100px;

}

.about_ceo_destop {
    padding-left: 140px;
}

.about_ceo_destop img {
    width: 1285px;
    height: auto;
    display: block;
    border-radius: 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}

.about_ceo_mobile {
    position: absolute;
    top: 21%;
    right: 0;
}

.final-shot_mobile_intro_ch {
    display: flex;
    margin-top: 450px;
    padding-left: 87px;
}

.final-shot_mobile_intro_ch li:first-child {
    margin-right: -70px;
}

.final-shot_mobile_intro_ch .sub-info {
    padding: 450px 0 0 50px;
}

.final-shot_mobile_intro_md {
    display: flex;
    margin-left: 515px;
    margin-top: 150px;
}

.final-shot_mobile_intro_md li:first-child {
    margin-right: -70px;
}


/* final-prd */
.final-prd {
    padding-top: 200px;
    background: #EAEAEA;
    padding-bottom: 250px;
}

.final-prd .inner {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#final-shot .final-prd .final-tit::before {
    content: '(3)';
    position: absolute;
    top: 18%;
    left: 12%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.final-prd_desktop {
    position: relative;
    width: 1430px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.final-prd_desktop img {
    display: block;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.final-prd_desktop video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}


/* final-technology */
.final-technology {
    padding-top: 200px;
    background: #A51D1D;
    position: relative;
    z-index: 1;
}

.final-technology .final-info h4 {
    color: #fff !important;
}

.final-technology .final-info .final-tit::before {
    content: "(4)";
    position: absolute;
    top: 18%;
    left: 17.5%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff !important;
}

.final-technology .final-info .final-desc {
    color: #fff !important;
}

.final-shot_desktop_tech {
    display: flex;
    padding-left: 150px;
    gap: 200px;
    margin-top: 100px;
}

.final-shot_desktop_tech li:last-child {
    margin-top: 180px;
    position: relative;
    z-index: 1;
}

.final-shot_desktop_tech li:last-child::before {
    content: 'SNC';
    position: absolute;
    top: 150px;
    right: -235px;
    font-family: var(--kr-font);
    font-weight: 700;
    font-size: 20rem;
    color: #5f1212;
    opacity: 0.2;
    z-index: 2;
    writing-mode: vertical-rl;
}

.final-shot_desktop_tech img {
    border-radius: 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.4);
}

.final-shot_desktop_tech li img:last-child {
    border-radius: 30px 30px 0 0;
}


/* final-rd */
.final-rd {
    background: url(../images/final-shot_desktop_r&d_bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 2;
    padding: 200px 0 250px;
    transform: translateY(-10px);
}

.final-rd .inner {
    display: grid;
}

.final-rd .final-info {
    justify-self: end;
    padding-right: 180px;
}

.final-rd .final-info .final-tit::before {
    content: "(5)";
    position: absolute;
    top: 18%;
    left: 61%;
    font-weight: 400;
    font-size: 1.2rem;
}

.final-shot_desktop_rd {
    padding-left: 150px;
    display: flex;
    margin-top: 100px;
    gap: 0px;
}

.final-shot_desktop_rd li:last-child {
    margin-top: 400px;
    margin-left: -50px;
}

.final-shot_desktop_rd img {
    border-radius: 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}


/* visual-direction */
.visual-direction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    transform: translateY(-11px);
}

.vd-pane {
    position: relative;
    overflow: hidden;
    aspect-ratio: 8 / 9;
}

.vd-pane--ui {
    background: #2B3140;
    display: grid;
    place-items: center;
}

.vd-pane--ui img {
    display: block;
    height: auto;
    width: 380px;
}

.vd-pane--mood img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vd-cap {
    position: absolute;
    left: 24px;
    bottom: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: var(--cap, #EDE8E2);
}

.vd-pane--ui {
    --cap: #EDE8E2;
}

.vd-pane--mood {
    --cap: #1e1e1e;
}


/* resources */
.resources {
    padding: 200px 0 250px;
}

.resources .final-info {
    text-align: center;
    padding-left: 0;

}

.resources .final-tit::before {
    content: '(6)';
    position: absolute;
    top: 18%;
    right: 42%;
    font-weight: 400;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.resources-top {
    text-align: center;
    margin-top: 100px;
}

.resources-top img {
    border-radius: 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}

.final-shot_desktop_resources {
    display: flex;
    gap: 150px;
    margin-top: 200px;
    width: 100%;
    position: relative;
}

.final-shot_desktop_resources li {
    flex-shrink: 0;
    animation: hoverMarquee 20s linear infinite;
    transition: animation-play-state 0.3s ease;
}

.final-shot_desktop_resources:hover li {
    animation-play-state: paused;
    /* 호버시 애니메이션 멈춤 */
}

.final-shot_desktop_resources li img {
    border-radius: 30px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

@keyframes hoverMarquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 150px));
    }
}

.final-shot_desktop_resources li:hover img {
    transform: scale(1.05);
    /* 호버시 살짝 확대 */
}


/* outro */
.outro {
    background: #21293A;
    padding: 200px 0 250px;
}

.outro-img {
    text-align: center;
}

.outro-copy {
    text-align: center;
    font-family: var(--kr-font);
    letter-spacing: -0.5px;
}

.outro-tit {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.outro-desc {
    color: #BEBEBE;
    font-size: 1.8rem;
}


/* go top */
a.go-top:visited {
    color: #fff;
}

a.go-top:link {
    position: absolute;
    bottom: 100px;
    right: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 2rem;
    letter-spacing: -0.5px;
    transition: all 0.3s ease;
}

.go-top:hover {
    transform: translateY(-3px);
}

.go-top img {
    width: 27px;
    height: 27px;
    transition: transform 0.3s ease;
    filter: brightness(0) saturate(100%) invert(1);
}

.go-top:hover img {
    transform: translateY(0px);
}


.ft-nav a:nth-of-type(2) {
    padding-right: 20px;
}

.btn-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.site-link {
    cursor: pointer;
    display: inline-block;
    padding: 14px 28px;
    color: #fff !important;
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.4s ease;
    border: 1px solid #fff;
}

.site-link:hover {
    background: #fff;
    color: #1a1a1a !important;
}
